body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #f0f5f7 !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.font-med {
    font-size:18px;
}

.font-heading {
    font-size:36px;
    font-weight:200;
}
.font-heading-center {
    font-size:36px;
    font-weight:200;
    text-align: center;
}
.font-revenue {
    color: green;
    font-size:30px;
    font-weight:100;
    padding-top: 0rem;
    padding-bottom: 2rem;
    text-align: center;
}

.card-view {
	position: inherit;
	overflow: visible;
	padding: 1.0rem;
	padding-bottom: 0;
	/*margin-bottom: 1rem;*/
    margin: 0.0rem 1.5rem;
    background-color: white;
    box-shadow: 0 1px 1px #dae1e3;
    border-radius: 5px;
}
.no-padding {
    padding: 0rem;
}